*{
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.flexGrow{
    flex-grow: 1;
}

.googleWrap{
    height: 100vh;
}

.gb_Ve{
    width: 24px;
    height: 24px;
    fill: #626262;
    transition: all .5s ease-in-out;
    webkit-transition: all .5s ease-in-out;
}

.searchInput{
    position: relative;
}

.icons-wrap{
    position: absolute;
    width: 100%;
    padding: 0 20px;
}
.goxjub, .searchIcon{
    width: 24px;
    height: 24px;
}

.searchIcon{
    filter: invert(67%) sepia(11%) saturate(181%) hue-rotate(169deg) brightness(94%) contrast(84%);
}

.keyAndSound{
    gap: 10px;
}

.logo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: calc(100% - 560px);
    min-height: 300px;
}

.searchInput input{
    background-color: transparent;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    /* margin-top: -37px;
    height: 34px; */
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 640px;
    max-width: 584px;
    padding: 10px 80px 10px 60px;
    z-index: 9999;
}

.buttonsWrap{
    gap: 14px;
}

.buttonsWrap button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 10px;
}

.country{
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
}

footer{
    background: #f2f2f2;
}

.footer-links{
    padding: 0 20px;
}

.footer-links ul{
    gap: 20px;
    padding-left: 10px;
}

.footer-links li{
    list-style-type: none;
}
.footer-links a{
    color: #70757a;
}
